* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "sf pro display";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF"),
    url("../fonts/SFPRODISPLAYBOLD.OTF"),
    url("../fonts/SFPRODISPLAYBLACKITALIC.OTF"),
    url("../fonts/SFPRODISPLAYHEAVYITALIC.OTF"),
    url("../fonts/SFPRODISPLAYLIGHTITALIC.OTF"),
    url("../fonts/SFPRODISPLAYMEDIUM.OTF"),
    url("../fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF"),
    url("../fonts/SFPRODISPLAYTHINITALIC.OTF"),
    url("../fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF");
}

.layout {
  font-family: "sf pro display";
  height: 100vh;
  width: 100%;
}

.layout .body-wrapper {
  height: 100%;
  display: flex;
}
