.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 35px 28px 27px;
  border: 1px solid rgba(250, 191, 1, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.top-bar .left-bar {
  display: flex;
  gap: 15.5px;
  align-items: center;
}

.top-bar .left-bar .search-wrapper input[type="search"] {
  border: none;
  width: 255px;
  height: 36px;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 129px;
  padding: 9px 21px;
  display: none;
}

.top-bar .right-bar {
  display: none;
  gap: 27px;
  align-items: center;
}

.top-bar .right-bar .text {
  display: none;
}

@media only screen and (min-width: 500px) {
  .top-bar .right-bar {
    display: flex;
  }
}

@media only screen and (min-width: 760px) {
  .top-bar {
    padding: 50px 75px 49px 51px;
  }
  .top-bar .right-bar .text {
    display: block;
  }
}

@media only screen and (min-width: 870px) {
  .top-bar .left-bar .search-wrapper input[type="search"] {
    display: inline;
  }
}
